* {
    margin: 1%;
}

div {
    border: 1px solid black; 
    min-height: 50vh;
    border-radius: 7px;
}

.comment__field {
    min-height: 20vh;
    width: 20vw;
    border: 1px solid grey;
    border-radius: 7px;

    display: flex;
}

form {
    width: 50vw;
}

.add__comment {
    width: 10vw;
    min-height: 6vh;
    border: none;
    background-color: rgb(87, 154, 253);
    border-radius: 7px;

    display: flex;
    justify-content: center;
}