body {
    margin: 0;
    padding: 0;
}

#booksContainer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    flex-direction: row;
}

.book {
    padding: 20px;
    padding-bottom: 35px;
    border: 2px solid bisque;
    background-color: blanchedalmond;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}