.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

.item__img {
    width: 50px;
    height: 50px;
}

.text {
    border: 1px solid rgb(243, 30, 207);
    background-color: rgb(254, 231, 255);
    padding: 16px;
    width: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.span {
    font-size: 10px;
    color: rgb(243, 30, 207);
}

.list__comments {
    margin: 7px;
    gap: 7px;
    display: inline-flex;
}

input {
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 5px;
    width: 176px;
}

button {
    border: 1px solid rgb(243, 30, 207);
    background-color: rgb(254, 231, 255);
    color: rgb(243, 30, 207);
}

.p {
    color: rgb(243, 30, 207);
}