div {
    min-height: 10vh;
    width: 50vw;
    border: 1px solid grey;
    border-radius: 7px;

    padding:1%;
}

* {
    margin: 1%;
}

button {
    width: 10vw;
    min-height: 6vh;
    border: none;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    background-color: rgb(253, 98, 87);
}

.generate {
    background-color: rgb(87, 154, 253);
}

section {
    display: flex;
    margin-left: 0;
}

.elem__result {
    padding:1%;
    margin-left:1%;
    
    width:20vw;
    min-height:50px;
    border:1px solid black;
    border-radius:7px;
}